* {
  box-sizing: border-box;
}
#board {
  display: grid;
  --size: 9;
  grid-template-columns: repeat(var(--size), 30px);
  user-select: none;
  -webkit-touch-callout: none;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: sans-serif;
  user-select: none;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border: 1px solid gray; 
}
.open {
  background-color: white;
}
.exploded {
  background-color: red;
}
.active {
  background-color: yellow;
}
.hidden {
  display: none;
}